.testContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  margin: 1rem;
  font-size: 2rem;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.answer {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: white;
  background-color: #0070f3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.correct {
  background-color: #00c985;
}

.incorrect {
  background-color: #ff4d4f;
}

.checked {
  background-color: darkkhaki;
}

.gray {
    background-color: #ccc;
}

.button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: white;
  background-color: #0070f3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.result {
  margin: 1rem;
  font-size: 2rem;
}